@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,600&family=Inconsolata:wght@200;300&family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,500&display=swap');

html{
    --primary-color:#314D4A;
    --heading-bg-color: #F6F3EB;
    --text-color:#314D4A;
    --text-color-main:#646D6C;
    --background-color:#0A8270;
    --box-shadow:0px 17px 40px 0px rgba(0, 0, 0, 0.20);
    font-size: 62.5%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width:100%;
    height: auto;
}

body{
    font-family: 'Croissant One', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
}

.heading{
    background-color: var(--heading-bg-color);
}
.container{
    max-width: 1147px;
    height: 100%;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 40px;
}


.hero-flex{
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between;
   
}
.hero-content{
    width: 450px;
}
.hero-content h2{
    font-size: 50px;
}
.hero-content h2{
    color: var(--text-color);
}
.hero-content p{
    color: var(--text-color-main);
}
.contact{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 40px 0;
    font-size: 20px;
    
}
.flex-design{
  width: 500px;
  text-align: center;
  margin: 100px 0;
}
.design-2{
   display: flex;
   justify-content:center ;
}
.design-2 h2{
    color: var(--text-color);
}
.design-2 p{
    color: var(--text-color-main);
}
.section-2-content{
    width: 270px;
    height: 337px;
    text-align: center;
    
    
}
.flex-design-2{
    display: flex;
    justify-content:space-between;
    padding: 50px 0;
}
.section-2-content h2{
color: var(--text-color);
}
.section-2-content p{
    color: var(--text-color-main);
}
.main-content{
    width: 400px;
    padding: 100px 0;
}
.main-content h2{
    color: var(--text-color);
}
.main-content p{
    color: var(--text-color-main);
}
.project-flex{
    display: flex;
    justify-content:space-between ;
    padding: 5px 0;
}
.project h2{
    color: var(--text-color);
}
.project p{
    color: var(--text-color-main);
}
.project-flex-2{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.project-p{
    margin-top: 200px;
}
.project{
     width: 400px;
}
.bottom{
    background-color: var(--heading-bg-color);
}
.flex-project{
    display: flex;
    justify-content: space-around;
    
}
.my-project{
    background-color: var(--background-color);
    padding: 40px;
    
}
.my-project h2{
    color: aliceblue;
}
.my-project p{ 
    color: white;
}
 .design-4{
   display: flex;
   justify-content: space-around ;
 }
.design-3 h1{
    color: var(--text-color);
}
.design-3 p{
    color: var(--text-color-main);
}
.design-3-flex{
    text-align: center;
    padding: 60px 0;
    width: 450px;
}
.people-flex{
    display: flex;
    justify-content: space-between;
}
.people{
    width: 300px;
    transition: all 0.5s linear;
}
.people strong{
    color: var(--text-color);
    font-size:18px;
}

.people:hover{
    border: 1px solid red;
    padding: 10px;
    transform: scale(1.2);
    box-shadow: var(--box-shadow);
    background-color: var(--heading-bg-color);
}
.people p{
    color: var(--text-color-main);
    font-size: 12px;
}
.review-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review p{
    color: var(--text-color-main);
    padding: 30px;
}
placeholder{
    color: var(--text-color-main);
}
.from-flex{
    display: flex;
    justify-content: space-between;
}

.form-content h2{
    color: var(--text-color);
}
.form-content p{
    color: var(--text-color-main);
}
.contact-1{
    background-color: var(--background-color);
    padding: 30px;
   
}
.contact-1 p{
    color: white;
}

@media(max-width: 540px){
  .heading {
    background-color: pink;


  }
  .contact a {
    font-size: rem;
  }
}

/* footer */
.footer {
    background-color: #F6F3EB;
    color: #314D4A;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
}

.footer-section.about {
    flex: 2;
}

.footer-section.links {
    flex: 1;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin-bottom: 5px;
}

.links a {
    color: #646D6C;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #007bff;
}
